extends layoutBS

block content
  head
    script(src="/javascripts/drive.js")

  body
    button#auth(type='button' disabled='') Authenticate
    #result

    script(src='https://apis.google.com/js/api.js?onload=onApiLoad')
