extends layoutBS

block content
  .login
    button.btn.btn-primary(login) Log in
    button.btn.btn-primary(login) Sign up
  br
  br
  .form
    .centered-textfields
      input(form="text" role="schoolname" placeholder="Brandeis University")
      input(form="text" role="subjectname" placeholder="Math")
  br
  body
    .container
      table
        thead
          tr
            td Course no.
            td Course name
        tbody
          tr
            td 3a
            td Explorations in Math: A Course for Educators
          tr
            td 5a
            td Precalculus Mathematics
          tr
            td 8a
            td Introduction to Probability and Statistics
          tr
            td 10a
            td Techniques of Calculus (a)
          tr
            td 10b
            td Techniques of Calculus (b)
          tr
            td 15a
            td Applied Linear Algebra
          tr
            td 20a
            td Multi-Variable Calculus
          tr
            td 22a
            td Honors Linear Algebra and Multi-variable Calculus, Part I
          tr
            td 22b
            td Honors Linear Algebra and Multi-variable Calculus, Part II
          tr
            td 23b
            td Introduction to Proofs
          tr
            td 28a
            td Introduction to Groups
          tr
            td 28b
            td Introduction to Rings and Fields
          tr
            td 35a
            td Advanced Calculus and Fourier Analysis
          tr
            td 36a
            td Probability
          tr
            td 36b
            td Mathematical Statistics
          tr
            td 37a
            td Differential Equations
          tr
            td 39a
            td Introduction to Combinatorics
          tr
            td 40a
            td Introduction to Applied Mathematics 
