extends layoutBS

block content
  header
    .login
      button.btn.btn-white(login) Log in
      button.btn.btn-white(login) Sign up
    br
    h1#indexheader Group study for the modern age.
  body
    .container
      .form
        .centered-textfields.emptyspace
          input(form="text" role="schoolname" placeholder="Your school")
          input(form="text" role="subjectname" placeholder="Subject")
        br
        .centered-buttons
          a.btn.btn-primary.btn-lg(href="#" role="button") Find
          a.btn.btn-primary.btn-lg(href="#" role="button") Create
