extends layoutBS

block content
  header
    .login
      button.btn.btn-white(login) Log in
      button.btn.btn-white(login) Sign up
    br
    h1#indexheader Group study for the modern age.
  body
    .container
      form(method="post")
        .centered-textfields.emptyspace
          input(type="text" name="schoolname" placeholder="Your school")
          input(type="text" name="subjectname" placeholder="Subject")
        br
        .centered-buttons
          input.btn.btn-primary.btn-lg(type="submit")
          a.btn.btn-primary.btn-lg(href="#" name="find") Find
          a.btn.btn-primary.btn-lg(href="#" name="create") Create
