extends layoutBS

block content
  head
  link(href='https://fonts.googleapis.com/css?family=Work+Sans:700' rel='stylesheet')
  body
    header
      .login
        a(href="/auth/google").btn.btn-secondary
          span.fa.fa-google-plus Log in with Google
      //a(href="/auth/google") login now
      h1#indexheader.emptyspace GroupStudy
    .col-lg-12.emptyspace
      p#indexdesc.emptyspace Find and share study guides for your school. For your classes. For you.
      .container
        form(method="post" action="saveSchoolInfo")
          .row#inputrow
            .formGroup.col-6
              input#schoolName(type="text" name="schoolName" placeholder="School name").form-control.form-control-lg
            .formGroup.col-6
              input#subject(type="text" name="subject" placeholder="Subject").form-control.form-control-lg
          br
          .centered-buttons
            a(type="submit" href="results" name="find" value="Find").btn.btn-primary.btn-lg Find
            a(type="submit" href="create" name="create" value="Create").btn.btn-primary.btn-lg Create
