extends layoutBS

block content
  header
    .login
      button.btn.btn-white(href="/auth/google")
        span.fa.fa-google-plus Log in with Google
      //button.btn.btn-white(login) Sign up
    br
    h1#indexheader GroupStudy
  body
    .container
      form(method="post")
        .centered-textfields.emptyspace
          input(type="text" name="schoolname" placeholder="Your school")
          input(type="text" name="subjectname" placeholder="Subject")
        br
        .centered-buttons
          a(href="schoolInfo" name="find" type="submit").btn.btn-primary.btn-lg Find
          a(href="create" name="create" type="submit").btn.btn-primary.btn-lg Create
