extends layoutBS

block content
  head
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:700' rel='stylesheet')
  body
    .login
      button.btn.btn-primary(login) Log in
      button.btn.btn-primary(login) Sign up
    br
    br
    .form
      .centered-textfields
        input(form="text" role="schoolname" placeholder="Your school")
        input(form="text" role="subjectname" placeholder="Subject")
    body
      .container
        br
        table
          thead
            tr
              td Course number
              td Course name
          tbody
            tr
              //for each thingy here
