extends layoutBS
block content
  head
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:700' rel='stylesheet')

  header#resultsheader
    .login
      a(href="/auth/google").btn.btn-secondary
        span.fa.fa-google-plus Log in with Google
    br
  body
    .container
      ul
