extends layoutBS

block content
  h1 Add School Information
  form(method="post" action="saveSchoolInfo")
    .formGroup
      label School name:
      input(type="text" name="schoolName")
    .formGroup
      label Subject:
      input(type="text" name="subject")
    input(type="submit")
  hr
  h1 List of All School Information
  form(method="post" action="deleteSchoolInfo")
    ol
      each s in schoolInfo
        li
          input(name="deleteName" value=s.schoolName type="checkbox")
          e #{s.schoolName} --
          i #{s.subject}
    input(type="submit" value="Delete checked items")
    hr
